*{
    box-sizing: border-box;
}
h2{
    font-size: 170%;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(53, 3, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#box1{
    background-color: rgb(191, 235, 148);
    border: 1px solid black;
    margin: 1%;

}
#box2{
    background-color: rgb(248, 189, 167);
    border: 1px solid black;
    margin: 1%;

}
#box3{
    background-color: rgba(169, 169, 169, 0.801);
    border: 1px solid black;
    margin: 1%;

}
p{
    width: 23%;
    height: 25px;
    float: right;
    border: 1px solid black;
    position: relative;
    top:-17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-align: center;
    font-weight: bold;
}
.p1{
    background-color: rgb(163, 7, 7);
    color: white;
}
.p2{
    background-color:  rgb(105, 44, 22);
    color:white;
}
.p3{
    background-color: rgba(9, 68, 43, 0.89);
    color:white;
}
.content{
    font-size: 100%;
    padding: 10px;
    margin-top: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width:992px){
    .col-lg-3{
        float: left;
        width: 31.3%;
        margin: 3%;
}
.container{
    width: 100%;
}
}
@media(min-width:768px) and (max-width:991px){
    
  
    .col-1,.col-2{
        width: 48%;
        float: left;
        margin: 2%;
    }
    .col-3{
        width: 98%;
        clear: both;
        height: 125px;
        margin: 2%;
    }
    #chicken,#beef{
        width:30%;
        padding-top: 2px;
        height:28px ;

    }

    #sushi{
        width: 15%;
        height: 28px;
        padding-top: 2px;
        font-size: 16px;
    }

    
}
@media(max-width:767px){
    .col-md-12{
        width: 98%;
        margin: 1%;
        float:left;
    }
}
